body{
  background-color: #DADADA;
  width:100%;
  height:100%;
}

div.my_wrapper{
  font-family: sans-serif;
  background-color: #DADADA;
  margin: 240px 120px 240px 120px;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}
